@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/static/fonts/lobster/v4/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}
body {
	margin: 0;
	width: 100%;
	background: rgb(243, 243, 245);
}
header {
	width: 100%;
	height: 350px;
	background-image: url(got-dolls.jpg), url(bgr.jpg);
	background-repeat: no-repeat, repeat-x;
	background-position: top center, top left;
	position: relative;
}
#siteBody {
	margin: 20px auto;
	width: 920px;
	height: 650px;
	font-family: Open-sans, sans-serif;
}
footer {
	width: 100%;
	height: 150px;
	background: rgb(200, 200, 200);
}
#faq {
	padding: 10px 20px;
	position: absolute;
	top: 60%;
	left: 50%;
	font-size: 72px;
	font-family: Lobster;
	background: rgba(100, 100, 100, 0.8);
	color: white;
}
#left {
	float: left;
	width: 200px;
}
#right {
	float: right;
	width: 700px;
}
div.menu {
	width: 100%;
	height: 50px;
	color: white;
	font-size: 18px;
}
nav > div:nth-child(1) {
	background: rgb(66, 70, 75);
}
nav > div:nth-child(2), nav > div:nth-child(3) {
	background: rgb(78, 83, 89);
}
div.green {
	width: 5px;
	height: 100%;
	float: left;
	margin-right: 20px;
}
nav > div:nth-child(1) > .green {
	background: rgb(34, 219, 165);
}
div.menu:hover {
	background: rgb(93, 97, 103);
}
.menu:hover .green {
	background: rgb(47, 109, 108);
}
img {
	width: 100%;
}
nav {
	margin-bottom: 20px;
}
span {
	margin-top: 15px;
	display: inline-block;
}
article {
	background: white;
	padding: 10px;
	border-top: 3px solid rgb(175, 175, 175);
	margin-bottom: 20px;
}
span.title {
	font-size: 14px;
	text-transform: uppercase;
	display: block;
	color: rgb(175, 175, 175);
	font-weight: bold;
}
span.blue {
	font-size: 16px;
	color: blue;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}
span.blue:hover {
	cursor: pointer;
}
p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 16px;
}
span.copyright {
	margin-left: 200px;
	color: grey;
	font-size: 18px;
}